@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    position: relative;
}

$header-height_px: 100px;
$header-height_rem: 6.25rem;
$main-image-caption-fontsize_px: 16px;
$main-image-caption-fontsize_rem: 1rem;

.bodywrap {
    margin-top: 3.125rem;
    margin-top: 50px;
    display: block;
    width: 100%;

    .main-image {
        position: relative;
        background-image: url(../images/Concept1.jpg);
        background-position-y: 25px;
        background-size: 100%;
        height: $header-height_px * 2;
        height: $header-height_rem * 2;
        filter: brightness(50%);
        background-attachment: fixed;
    }

    .main-image_caption {
        position: absolute;
        color: #fff;
        font-weight: bold;
        top: 0;
        font-size: $main-image-caption-fontsize_px;
        font-size: $main-image-caption-fontsize_rem;
    }


    .item_page {
        margin: 0 auto;
        margin-top: 2.5rem;
        margin-top: 40px;
        width: 88%;

        .item_page_header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: 10px 0;
            border-bottom: 0.5px solid #707070;

            .item_page_header_title {
                font-weight: bold;
            }

            .item_page_header_sort {
                text-align: right;

                span {
                    padding: 0 5px;
                    border-right: 0.5px solid #4b2222;
                    font-size: 0.5rem;
                    font-size: 8px;
                    color: #818181;

                    &.active {
                        color: #000;
                        font-weight: bold;
                    }

                    &:last-child {
                        padding-right: 0;
                        border-right: none;
                    }
                }
            }
        }

        .item_page_list {
            display: grid;
            width: 100%;
            grid-template-columns: 45% 45%;
            grid-template-rows: repeat(6, 1fr);
            justify-content: space-between;
            height: 100%;
            margin-top: 25px;
            margin-top: 1.5625rem;

            .item_page_list_items {
                width: 100%;
                margin-bottom: 62px;
                margin-bottom: 3.875rem;

                img {
                    width: 100%;
                }

                .item_name {
                    margin-top: 10px;
                    margin-top: 0.625rem;
                    text-align: center;
                    font-family: '나눔스퀘어라운드';
                    font-size: 0.5rem;
                    font-size: 8px;
                    letter-spacing: 1px;

                }

                .item_price {
                    text-align: center;
                    font-size: 0.625rem;
                    font-size: 10px;
                    margin-top: 0.5rem;
                    margin-top: 8px;
                }
            }
        }

        .item_page_paging {
            margin: 0 auto;
            width: 40%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left-arrow {
                width: 18px;

                img {
                    width: 100%;
                }
            }

            .right-arrow {
                width: 18px;

                img {
                    width: 100%;
                    transform: rotate(180deg);
                }
            }

            a {
                text-align: center;
                font-size: 0.6rem;
                font-family: "나눔스퀘어라운드";
                color: #818181;

                &.active {
                    color: #000;
                    font-weight: bold;
                }
            }


        }

    }

}

@media all and (min-width: 500px){

$header-height_px: 75px;
$header-height_px: 4.6875rem;

    .main-image {
        height: $header-height_px * 2;
        height: $header-height_rem * 2;

    }
}







@media all and (min-width: 768px) {

    //변수 파트 =====================================

    $header-height_px: 100px;
    $header-height_rem: 6.25rem;
    $main-image-translateY: -50px;
    $main-image-caption-fontsize_rem: 1.25rem;
    $main-image-caption-fontsize_px: 20px;

    $item_page_top_px: 80px;
    $item_page_top_rem: 5rem;
    $item_page_header_title_fontsize_px: 24px;
    $item_page_header_title_fontsize_rem: 1.5rem;
    $item_page_header_padding_px: 20px;
    $item_page_header_padding_rem: 1.25rem;

    $item_name_fontsize_px: 10px;
    $item_name_fontsize_rem: 0.625rem;
    $item_price_fontsize_px: 12px;
    $item_price_fontsize_rem: 0.75rem;

    .bodywrap {
        margin-top: $header-height_px;
        margin-top: $header-height_rem;

        .main-image {
            height: $header-height_px * 2;
            height: $header-height_rem * 2;
        }

        .main-image_caption {
            position: absolute;
            color: #fff;
            font-weight: bold;
            top: 0;
            font-size: $main-image-caption-fontsize_px;
            font-size: $main-image-caption-fontsize_rem;
        }

        .item_page {
            margin-top: $item_page_top_rem;
            margin-top: $item_page_top_px;

            .item_page_header {
                padding: $item_page_header_padding_px 0;
                padding: $item_page_header_padding_rem 0;

                border-bottom: 0.5px solid #707070;

                .item_page_header_title {
                    font-size: $item_page_header_title_fontsize_px;
                    font-size: $item_page_header_title_fontsize_rem;
                    font-weight: bold;
                }

                .item_page_header_sort {
                    span {
                        padding: 0 $item_page_header_title_fontsize_rem/2;
                        padding: 0 $item_page_header_title_fontsize_px/2;

                        font-size: $item_page_header_title_fontsize_rem/2;
                        font-size: $item_page_header_title_fontsize_px/2;
                    }
                }
            }

            .item_page_list {
                grid-template-columns: repeat(3, 29%);
                grid-template-rows: repeat(4, 1fr);
                margin-top: $item_page_header_padding_px/2*5;
                margin-top: $item_page_header_padding_rem/2*5;

                .item_page_list_items {
                    width: 100%;
                    margin-bottom: 62px;
                    margin-bottom: 3.875rem;

                    img {
                        width: 100%;
                    }

                    .item_name {
                        margin-top: $item_name_fontsize_rem * 2;
                        margin-top: $item_name_fontsize_px * 2;
                        text-align: center;
                        font-family: '나눔스퀘어라운드';
                        font-size: $item_name_fontsize_px;
                        font-size: $item_name_fontsize_rem;
                        letter-spacing: 1px;

                    }

                    .item_price {
                        text-align: center;
                        font-size: $item_price_fontsize_px;
                        font-size: $item_price_fontsize_rem;
                        margin-top: $item_price_fontsize_px;
                        margin-top: $item_price_fontsize_rem;
                    }
                }
            }

            .item_page_paging {
                margin: 0 auto;
                width: 40%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left-arrow {
                    width: 36px;

                    img {
                        width: 100%;
                    }
                }

                .right-arrow {
                    width: 36px;

                    img {
                        width: 100%;
                        transform: rotate(180deg);
                    }
                }

                a {
                    text-align: center;
                    font-size: 1rem;
                    font-family: "나눔스퀘어라운드";
                    color: #818181;

                    &.active {
                        color: #000;
                        font-weight: bold;
                    }
                }


            }

        }

    }

}

@media all and (min-width: 1024px) {

    //변수 파트 =====================================

    $header-height_px: 100px;
    $header-height_rem: 6.25rem;
    $main-image-height_px: 150px;
    $main-image-height_rem: 9.375rem;
    $main-image-translateY: -75px;
    $main-image-caption-fontsize_rem: 1.25rem;
    $main-image-caption-fontsize_px: 20px;

    $item_page_top_px: 80px;
    $item_page_top_rem: 5rem;
    $item_page_header_title_fontsize_px: 24px;
    $item_page_header_title_fontsize_rem: 1.5rem;
    $item_page_header_padding_px: 20px;
    $item_page_header_padding_rem: 1.25rem;

    $item_name_fontsize_px: 14px;
    $item_name_fontsize_rem: 0.875rem;
    $item_price_fontsize_px: 16px;
    $item_price_fontsize_rem: 1rem;

    .bodywrap {
        margin-top: $header-height_px;
        margin-top: $header-height_rem;

        .main-image {
            height: $main-image-height_px * 2;
            height: $main-image-height_rem * 2;
            background-attachment: fixed;
        }

        .item_page {
            margin-top: $item_page_top_rem;
            margin-top: $item_page_top_px;

            .item_page_header {
                padding: $item_page_header_padding_px 0;
                padding: $item_page_header_padding_rem 0;

                border-bottom: 0.5px solid #707070;

                .item_page_header_title {
                    font-size: $item_page_header_title_fontsize_px;
                    font-size: $item_page_header_title_fontsize_rem;
                    font-weight: bold;
                }

                .item_page_header_sort {
                    span {
                        padding: 0 $item_page_header_title_fontsize_rem/2;
                        padding: 0 $item_page_header_title_fontsize_px/2;

                        font-size: $item_page_header_title_fontsize_rem/2;
                        font-size: $item_page_header_title_fontsize_px/2;
                    }
                }
            }

            .item_page_list {
                grid-template-columns: repeat(3, 29%);
                grid-template-rows: repeat(4, 1fr);
                margin-top: $item_page_header_padding_px/2*5;
                margin-top: $item_page_header_padding_rem/2*5;

                .item_page_list_items {
                    width: 100%;
                    margin-bottom: 62px;
                    margin-bottom: 3.875rem;

                    img {
                        width: 100%;
                    }

                    .item_name {
                        margin-top: $item_name_fontsize_rem * 2;
                        margin-top: $item_name_fontsize_px * 2;
                        text-align: center;
                        font-family: '나눔스퀘어라운드';
                        font-size: $item_name_fontsize_px;
                        font-size: $item_name_fontsize_rem;
                        letter-spacing: 1px;

                    }

                    .item_price {
                        text-align: center;
                        font-size: $item_price_fontsize_px;
                        font-size: $item_price_fontsize_rem;
                        margin-top: $item_price_fontsize_px;
                        margin-top: $item_price_fontsize_rem;
                    }
                }
            }

            .item_page_paging {
                margin-top: 100px;
                width: 30%;

            }

        }

    }

}

@media all and (min-width: 1280px) {

    //변수 파트 =====================================

    $header-height_px: 100px;
    $header-height_rem: 6.25rem;
    $main-image-height_px: 250px;
    $main-image-height_rem: 15.625rem;
    $main-image-translateY: -75px;
    $main-image-caption-fontsize_rem: 2.5rem;
    $main-image-caption-fontsize_px: 40px;

    $item_page_top_px: 80px;
    $item_page_top_rem: 5rem;
    $item_page_header_title_fontsize_px: 30px;
    $item_page_header_title_fontsize_rem: 1.875rem;
    $item_page_header_padding_px: 30px;
    $item_page_header_padding_rem: 1.875rem;

    $item_name_fontsize_px: 16px;
    $item_name_fontsize_rem: 1rem;
    $item_price_fontsize_px: 20px;
    $item_price_fontsize_rem: 1.25rem;

    .bodywrap {
        margin-top: $header-height_px;
        margin-top: $header-height_rem;

        .main-image {
            height: $main-image-height_px * 2;
            height: $main-image-height_rem * 2;
        }

        .item_page {
            margin-top: $item_page_top_rem;
            margin-top: $item_page_top_px;

            .item_page_header {
                padding: $item_page_header_padding_px 0;
                padding: $item_page_header_padding_rem 0;

                border-bottom: 0.5px solid #707070;

                .item_page_header_title {
                    font-size: $item_page_header_title_fontsize_px;
                    font-size: $item_page_header_title_fontsize_rem;
                    font-weight: bold;
                }

                .item_page_header_sort {
                    span {
                        padding: 0 $item_page_header_title_fontsize_rem/2;
                        padding: 0 $item_page_header_title_fontsize_px/2;

                        font-size: $item_page_header_title_fontsize_rem/2;
                        font-size: $item_page_header_title_fontsize_px/2;
                    }
                }
            }

            .item_page_list {
                grid-template-columns: repeat(3, 29%);
                grid-template-rows: repeat(4, 1fr);
                margin-top: $item_page_header_padding_px/2*5;
                margin-top: $item_page_header_padding_rem/2*5;

                .item_page_list_items {
                    width: 100%;
                    margin-bottom: 62px;
                    margin-bottom: 3.875rem;

                    img {
                        width: 100%;
                    }

                    .item_name {
                        margin-top: $item_name_fontsize_rem * 2;
                        margin-top: $item_name_fontsize_px * 2;
                        text-align: center;
                        font-family: '나눔스퀘어라운드';
                        font-size: $item_name_fontsize_px;
                        font-size: $item_name_fontsize_rem;
                        letter-spacing: 1px;
                    }

                    .item_price {
                        text-align: center;
                        font-size: $item_price_fontsize_px;
                        font-size: $item_price_fontsize_rem;
                        margin-top: $item_price_fontsize_px;
                        margin-top: $item_price_fontsize_rem;
                    }
                }
            }

            .item_page_paging {
                width: 25%;
            }

        }
    }
}