.popular-container {
    margin: auto;
    margin-top: 3.125rem;
    display: block;
    width: 100%;
    height: auto;
}

.popular-container-header h3 {
    text-align: center;
    padding: 0.625rem 0;
    margin: 0 auto;
    width: 4.5rem;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Raleway', 'sans-serif';
    border-bottom: 1px solid #000;
}

.popular-container-slide {
    margin-top: 2.75rem;
    position: relative;
    width: 100%;
}

.popular-container-slide .swiper-container {
    width: 55%;
}


.popular-container-slide > .swiper-button-prev,
.popular-container-slide > .swiper-button-next {
    z-index: 0;
    top: 1.2rem;
    padding: 30% 3%;
    color: #000;
    position: absolute;
}

.popular-container-list {
    display: none;
}

.popular-container-list > a{
    transition: all 0.3s ease-out;
}


.item-info,
.item-price {
    font-size: 0.875rem;
    padding-top: 0.625rem;
    display: block;
    text-align: center;
}

.view-more-btn {
    width: 100%;
    margin-top: 2.5rem;
}

.view-more-btn a {
    width: 110px;
    width: 6.875rem;
    height: 32px;
    height: 2rem;
    border: 1px solid #707070;
    line-height: 2rem;
    height: 32px;
    text-align: center;
    margin: 0 auto;
    font-size: 0.75rem;
}

.view-more-btn a:hover {
    transition: .3s;
    color: #fff;
    background-color: #000;
}


.lookbook-container {
    margin-top: 3.375rem;
    position: relative;
}

.item-container {
    width: 80%;
    margin: auto;
    margin-top: 3.125rem;
}

.item-container-header h3 {
    text-align: center;
    padding: 0.625rem 0;
    margin: 0 auto;
    width: 4.5rem;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Raleway', 'sans-serif';
    border-bottom: 1px solid #000;

}

.item-wrapper {
    margin-top: 2.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-row-gap: 1%;
}


.item-wrapper img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.item-wrapper a {
    position: relative;

}

.item-wrapper img {
    transition: .3s;
}

.item-wrapper a:hover > img {
    opacity: 0.2;
}

.item-wrapper a:hover > span {
    opacity: 1;
}

.item-wrapper > a > span {
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    font-size: 0.8rem;
    margin-left: -100px;
    text-align: center;
    width: 200px;
    position: absolute;
    color: #000;
    top: 50%;
    left: 50%;
}


.tablet-footer-container {
    display: none;
}

.lookbook-container .caption{
    transition: all 1s;
    margin-top: -40px;
}

.lookbook-container .caption-text{
    font-size: 0.7rem;
    text-align: center;
    margin: 0;
    position:absolute;
    right: 5%;
    width: 140px;
    height: 80px;
    letter-spacing: 1px;
    font-weight: 300;
}

.lookbook-container .caption-text span{
    font-size: 1.5rem;

}


@media all and (min-width: 768px) {
    .popular-container {
        margin-top: 6.25rem;
    }

    .popular-container-slide {
        margin-top: 2.75rem;
    }


    .popular-container-header h3 {
        font-size: 1.25rem;
        width: 7rem;
    }


    .item-info,
    .item-price {
        font-size: 1.25rem;
        padding-top: 1rem;
    }

    .view-more-btn a {
        width: 180px;
        width: 9.375rem;
        height: 3rem;
        height: 48px;
        line-height: 3rem;
        font-size: 1rem;
    }

    .lookbook-container {
        margin-top: 6.75rem;
    }

    .item-container-header h3 {
        font-size: 1.25rem;
        width: 5rem;


    }

    .popular-container-slide .swiper-container {
        width: 55%;
    }


    .item-wrapper {
        margin-top: 4.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        grid-row-gap: 1%;
    }

    .tablet-footer-container {
        display: block;
    }

    .lookbook-container .caption{
        margin-top: -60px;
    }

    .lookbook-container .caption-text{
        font-size: 1.1rem;
        width: 210px;
        height: 120px;

    }

    .lookbook-container .caption-text span{
        font-size: 2.1rem;
    
    }

    .fa-chevron-circle-right{
        font-size: 1.5rem;
    }


}

@media all and (min-width: 1280px) {
    .popular-container-slide {
        display: none;
    }

    .popular-container-header h3 {
        padding: 1rem 0;
        width: 7rem;
        font-size: 1.2rem;
    }

    .popular-container-list {
        margin: 0 auto;
        width: 80%;
        margin-top: 5.5rem;
        display: flex;
    }

    .popular-container-list a {
        margin: 0 30px;
    }


    .item-info,
    .item-price {
        font-size: 1rem;
        padding-top: 0.7rem;
    }

    .view-more-btn {
        margin-top: 5rem;
    }

    .view-more-btn a {
        width: 180px;
        width: 11.25rem;
        height: 3rem;
        height: 48px;
        line-height: 3rem;
        font-size: 1rem;
    }

    .item-wrapper > a > span {
        font-size: 1.2rem;
    }

    .lookbook-container .caption {
        margin-top: -75px;
        top: 50%;
        right: 5%;
        width: auto;
        background-color: transparent;
    }

    .lookbook-container .fa-chevron-right {
        display: none;
    }

    .lookbook-container .caption-text {
        width: 300px;
        color: #000;
        margin: 0;
        text-align: center;
        font-size: 1.6rem;
        height: 150px;
    }

    .lookbook-container .caption-text span {
        margin-top: 20px;
        color: #000;
        display: block;
        font-size: 3.125rem;
    }

    .lookbook-container .fa-chevron-circle-right {
        display: block;
        margin-top: 15px;
        font-size: 1.7rem;
    }

}
