*{
    margin: 0;
    padding: 0;
    list-style:none;
    color: #000;
    font-family:'Raleway' ,'sans-serif';
    font-size: 16px;
    width: 100%;
}

a{
    display:block;
    text-decoration: none;
    color: #000;
}

body{
    width: 100%;
    height: 100%;
}

header{
    z-index: 999;
    background-color: #fff;;
    width: 100%;
    height: 50px;
    height: 3.125rem;
    position: fixed;
}

#wrapper{
    width: 100%;
    height: 100%;
}

.top{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    align-items:center;
    display:flex;
    justify-content: space-between;
}

.logo{
    width: 40%;
    text-align: center;  
}


.logo img{
    width: 100px;
    width: 6.25rem;
}

.header-menu{
    width: 30%;
    
}

.hamburger-menu{
    position:relative;
    width: 20px;
    width: 1.25rem;
    height: 12px;
    height: 0.75rem;
    
}

.hamburger-menu > .line{

    position:absolute;
    width: 100%;
    height: 1px;
    height: 0.0625rem;
    background-color: #000;
    margin-top: -0.5px;
}

.hamburger-menu > #top{
    top: 0px;
}

.hamburger-menu > #middle{
    top: 6px;
}

.hamburger-menu > #bottom{
    top: 12px;
}

.header-menu > ul{
    display:none;
}

.header-submenu{
    display:none;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba( 40, 40, 40, 0.8);
    top: 50px;
    top: 3.125rem;
}

.active{
    display:block;
}

.submenu-list{
    position:fixed;
    left: -50%;
    background-color: #fff;
    width: 50%;
    height: 100%;
}

.submenu-list > li{
    margin: 0 auto;
    width: 140px;
    width: 77%;
    border-bottom: 1px solid #d8d8d8;
}

.submenu-list > li > a{
    font-size: 15px;
    font-size: 0.9375rem;
    padding:20px 0;
    padding: 1.25rem 0;
}

.shop-submenu-list{
    position:fixed;
    top: 50px;
    left:-50%;
    width: 50%;
    background-color: #fff;
    height: 100%;

}

.shop-submenu-list > li{
    margin: 0 auto;
    width: 140px;
    width: 77%;
    border-bottom: 1px solid #d8d8d8;
}

.shop-submenu-list > li > a{
    font-size: 15px;
    font-size: 0.9375rem;
    padding: 20px 0;
    padding: 1.25rem 0;
}

.login-menu{
    width: 30%;
}

.mobile-login-menu{
    float:right;
    width: 80%;
    display:flex;
}

.mobile-login-menu i{
    text-align:center;
    font-size: 14px;
    font-size: 0.875rem;
}

.login-menu > ul {
    display: none;
}

.shop-submenu-list_pc{
    display:none;
}

@media all and (min-width: 768px){
    header{
        height:100px;
        height: 6.25rem;
    }
    
    .logo img{
        width: 200px;
        width: 12.5rem;
    }

    .header-submenu{
        top: 100px;
        top: 6.25rem;
    }

    .submenu-list > li > a{
        font-size: 20px;
        font-size: 1.25rem;
        padding: 30px 0;
        padding: 1.875rem 0;
    }
    
    .hamburger-menu{
        margin-left: 20px;
        margin-left: 1.25rem;
        width: 40px;
        width: 2.5rem;
        height: 24px;
        height: 1.5rem;
    }
    
    .hamburger-menu > .line{
        height: 2px;
        height: 0.125rem;
    }

    .mobile-login-menu i{
        font-size: 20px;
        font-size: 1.25rem;
    }

    .hamburger-menu > #top{
        top: 0px;
    }
    
    .hamburger-menu > #middle{
        top: 9px;
    }
    
    .hamburger-menu > #bottom{
        top: 18px;
    }
    
    .shop-submenu-list{
        top: 100px;
    }

    .shop-submenu-list > li > a{
        font-size: 20px;
        font-size: 1.25rem;
        padding: 30px 0;
        padding: 1.875rem 0;
    }

    .shop-submenu-list_pc{
        display:none;
    }


}

@media all and (min-width: 1280px){

    header{
        background: #fff;
        width: 100%;
        height: 80px;
        height: 5rem;
    }

    .top{
        background-color: #fff;
        width: 90%;
        margin: 0 auto;
    }
    .hamburger-menu{
        display:none;
    }

    .header-menu{
        width: 30%;
        height: 100%;

    }
    
    .header-menu > ul{
        height: 100%;
        display:flex;
        align-items: center;
        justify-items: flex-start;
    }

    .header-menu > ul > li{
        width:auto;
    }

    .header-menu > ul > li > a{
        width: 100%;
        font-size: 0.75rem;
        position: relative;
        display:inline-block;
        text-align: center;
        padding: 2rem 1rem;
    }

    .border-box{
        top: 50%;
        left: 50%;
        margin-left: -35%;
        position: absolute;
        padding: 0.5rem 0;
        border-bottom: 1px solid #000;
        width: 0%;
        transition: all 0.3s;
    }
    
    
    
    .mobile-login-menu{
        display:none;
    }
    
    .login-menu{
        margin-left: 10%;
        width: 20%;
    }
    
    .login-menu > ul{
        align-items: center;
        display:flex;
        justify-content: flex-end;
    }
    
    .login-menu > ul > li{
        width: auto;
        padding: 2rem 1.5rem;
        font-size: 0.75rem;
        cursor:pointer;
        text-align: center;
    }

    .login-menu input{
        position:relative;
        
    }

    .login-menu .fas{
        font-size: 0.75rem;
        width: auto;
    }
    
    .login-menu > ul a{
        font-size: 0.75rem;
    }

    .login_modal{
        display:none;
        z-index: 999;
        position:fixed;
        top:6.25rem;
        
        right: 1.875rem;
        width: 21.875rem;
        height: auto;
        background-color: #fff;
        border-radius: 0.3125rem;
        box-shadow: 0 0.2rem 0.6rem #555;
    }

    .login_modal .fas{
        display:inline;
        cursor:pointer;
        color: #aaa;
        width: auto;
        
    }

    .login_modal .close_btn_section{
        text-align: right;
        margin: 1rem auto;
        width: 90%;
        height: 1rem;
    }

    .login_modal > div{
        font-weight: bold;
        text-align: right;
        margin: 20px 0 ;
        font-size: 0.75rem;
    }

    .login_modal input{
        border: 1px solid #aaa;
        margin: 0 1.25rem;
        position:relative;
        width: 12.5rem;
        font-size: 0.75rem;
        padding: 0.3125rem;
    }

    .login_modal .button{
        margin-top: 2rem;
        width: 100%;
        display:flex;
        justify-content: space-around;
    }

    .login_modal .button > button{
        font-size: 0.75rem;
        background-color: #fff;
        color: #000;
        border: 1px solid #999;
        padding: 0.625rem;
        width: 6.25rem;
        transition: all 0.3s;
    }

    .login_modal .button > button:hover{
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
    }

    .search_modal{
        z-index: 999;
        position:fixed;
        top:6.25rem;
        display: none;
        right: 1.875rem;
        width: 21.875rem;
        height: auto;
        background-color: #fff;
        border-radius: 0.3125rem;
        box-shadow: 0 0.2rem 0.6rem #555;
    }

    .search_modal .close_btn_section{
        text-align: right;
        margin: 1rem auto;
        width: 90%;
        height: 1rem;
    }

    .search_modal .fa-times{
        display:inline;
        cursor:pointer;
        color: #aaa;
        width: auto;
        
    }

    .search_modal .fa-search{
        font-size: 0.75rem;
        text-align: center;
        width :10%;
    }

    .search_modal .search_box{
        width: 80%;
        margin: 0 auto;
        border-bottom: 3px solid #333;
    }

    .search_modal .button_wrapper{
        display:block;
        width: 80%;
        margin: 1rem auto;
    }

    .button_wrapper > button{
        cursor: pointer;
        letter-spacing: 1px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        border: 1px solid #000;
        margin: 0.3rem 0.2rem;
        padding: 0.6rem 1.5rem;
        font-size: 0.1rem;
    }

    .button_wrapper > .active{
        background-color: #000;
        color: #fff;
    }

    .search_modal button{
        display:inline-block;
        font-size: 0.75rem;
        width: auto;
    }

    .search_modal input{
        font-family: "나눔스퀘어";
        padding: 0.5rem;
        border:none;
        display:inline-block;
        width: 90%;
        font-size: 0.75rem;
    }

    .shop-submenu-list_pc{
        width: 100%;
        display:flex;
        position: fixed;
        height: 0;
        overflow: hidden;
        background-color: #fff;
        top: 5rem;
        z-index: -1;
        left: 0;
        transition: all 0.3s;
        border-bottom: 1px solid #ddd;
        
    }


    .shop-submenu-list_pc a{
        
        text-align: center;
        padding: 1rem 0;
    }

    .shop-submenu-list_pc a:hover{
        background-color: #ddd;
    }

    .shop-submenu-list_pc span{
        margin-top: 1rem;
        display:inline-block;
        font-size: 0.75rem;
    }

    .shop-submenu-list_pc img{
        width: 60%;
    }


}

@media all and (min-width: 1600px){

    .top{
        margin: 0 auto;
        width: 90%;
    }
    
    .header-menu > ul > li > a{
        font-size: 15px;
        font-size: 0.9375rem;
        
    }
    
    .login-menu{
        margin-left: 10%;
        width: 20%;
    }
    
    .login-menu > ul > li > a{
        font-size: 15px;
        font-size: 0.9375rem;
    }
    
    .login-menu .fas{
        font-size: 18px;
        font-size: 1.125rem;
    }

    .border{
        top: 26px;
    }


}


